modules = ["nodejs-20", "web", "python-base-3.13"]

[deployment]
router = "application"
deploymentTarget = "autoscale"
run = ["bash", "-c", "NODE_ENV=production PORT=3001 node --enable-source-maps artifacts/api-server/dist/index.mjs"]
build = ["bash", "scripts/build.sh"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash scripts/dev.sh"
waitForPort = 5000

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3001
externalPort = 3003

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 8083
externalPort = 3001

[[ports]]
localPort = 8084
externalPort = 4200

[[ports]]
localPort = 22654
externalPort = 3000

[userenv]

[userenv.shared]
JWT_SECRET = "global-enterprise-jwt-secret-2024-secure-key"
API_PORT = "8080"
BASE_PATH = "/"
PORT = "5000"
R2_ACCOUNT_ID = "11601344676365d00034b02c6586f6c9"
R2_BUCKET_NAME = "apnaenterprise"
R2_PUBLIC_URL = "https://pub-22a1b7a384c748b184e1c5894cea0d5b.r2.dev/"
FLY_API_TOKEN = "FlyV1 fm2_lJPECAAAAAAAFBJ/xBA3BZqkx/TE5QYgxSzh7O/kwrVodHRwczovL2FwaS5mbHkuaW8vdjGWAJLOABkOgB8Lk7lodHRwczovL2FwaS5mbHkuaW8vYWFhL3YxxDwXXP3KoMCIo6EsnUlSEgSwzlpH5ZPLFbBgZPSWyImn/dLjWUCc3l7bevt5j9jFt3rwSmRyUyhQDPNXAGLETuZn8lhWNuFel42So/5eXIBFJxzyDMnszKsLBWFKb0kTbKKhRlvFxvGjHrT89XbSJNsaWtvg1MYb62B+7XuCgaL+5fI9KEYsqj/6hP3oZQ2SlAORgc4BUo0rHwWRgqdidWlsZGVyH6J3Zx8BxCBH54Pu/zumBKizmdPTKBGmY25HotSzCfYY/Tv5ebBjYg==,fm2_lJPETuZn8lhWNuFel42So/5eXIBFJxzyDMnszKsLBWFKb0kTbKKhRlvFxvGjHrT89XbSJNsaWtvg1MYb62B+7XuCgaL+5fI9KEYsqj/6hP3oZcQQM25Wh74qnIQDgVbG0O81W8O5aHR0cHM6Ly9hcGkuZmx5LmlvL2FhYS92MZgEks5qkvcHzwAAAAEmixUlF84AGAGeCpHOABgBngzEEBNs+SSWalOOKDv45ogZJyjEICPQc4AjFiA/GpwTjJRDzyBWuQ29d74Q+PuIz8zvZltL"
PAYU_ENV = "production"

[userenv.production]
PUBLIC_APP_URL = "https://apnaenterprise.in"

[nix]
channel = "stable-25_05"
packages = ["fly", "flyctl"]
